.window {
    display: flex;
}

.window .side-menu {
    width: 15%;
}

.window .side-menu .nav-group {
    flex-direction: column;
}

.window .body {
    margin: 0 auto;
}

.nav-group {
    text-align: center;
    display: flex;
}

.nav-group.active {
    background: rgba(255, 0, 0, 0.07);
}

.nav-item {
    display: inline;
    min-width: 75px;
    line-height: 75px;
    border: 5px solid rgba(255, 0, 0, 0.16);
    margin: 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
} 

.nav-item .nav-item {
    min-width: 82px;
}

.nav-item.active {
    background: red;
}

p {
    line-height: 20px;
}