@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 150%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .window {
        display: flex;
        flex-direction: column;
    }
}

.window {
    .nav-group {
        text-align: center;
        display: flex;
        width: 100%;
    }
    .nav-item {
        &.active {
            // text-decoration: underline;
        }
    }

    .top-container {
        height: 20vh;
        padding: 0 2vw;
        background-color: #f1eded;

        display: flex;
        align-items: center;
        flex-flow: wrap;
    }

    .body-container {
        height: 76vh;
        padding: 2vw 2vw;
    }
}

.window .top-pane-container {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    width: 100%;

    .info-bar {
        width: 100%;
        justify-content: space-between;
        padding: 2vh 0;

        .nav-item {
            font-size: 1.4vw;
            position: relative;

            &.active:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid;
                transform: scale( 1.1, 1.1 );
                position: absolute;
                top: 0;
            }
        }
    }
}

.window .menu-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4vh;

    .global-menu {
        width: 60%;
        justify-content: space-between;

        &.ni-1 .nav-item.active:before { background-color: #01A4A4; }
        &.ni-2 .nav-item.active:before { background-color: #D0D102; }
        &.ni-3 .nav-item.active:before { background-color: #E54028; }
        &.ni-4 .nav-item.active:before { background-color: #32742C; }
        &.ni-5 .nav-item.active:before { background-color: #F18D05; } //#F18D05
        &.ni-6 .nav-item.active:before { background-color: red; } //#F18D05

        .nav-item {
            font-size: 1.4em;
            position: relative;
            z-index: 1;

            &.active { color: white; }
            &.ni-1 { &:before { border-color: #01A4A4; } }
            &.ni-2 { &:before { border-color: #D0D102; } }
            &.ni-3 { &:before { border-color: #E54028; } }
            &.ni-4 { &:before { border-color: #32742C; } }
            &.ni-5 { &:before { border-color: #F18D05; } }
            &.ni-6 { &:before { border-color: red; } }

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                transform: scale( 1.1, 1.3 );
                z-index: -1;
                border-bottom: 2px solid;
            }
        }
    }

    .social-menu {
        width: 10%;
        justify-content: space-between;

        .nav-item {
            font-weight: bolder;
            transition: all .2s ease-in-out; 
            font-size: 1.5em;

            // &.ni-1 { color: #E54028; }
            &.ni-2 { color: #0077B5; }
            &.ni-3 { color: #E54028; }

            &.active {
                transform: scale(1.5);
            }
        }
    }
}

.window .body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .nav-group {
        display: flex;
        justify-content: space-between;

        .nav-item {
            width: 12.5%;
            transition: all .2s ease-in-out; 
            
            &.ni-1 { .poster-container { padding-left: 0; } }
            &.ni-5 { .poster-container { padding-right: 0; } }

            &.active { transform: scale( 1.1 ); }
        }
    }
}

.poster-container {
    display: block;
    width: 100%;

    .poster {
        overflow: hidden;
        box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);

        &__img {
            height: 22vh;
            background-color: #f1eded;
            background-position: center;
            background-size: cover;
            width: 100%;
            background-position: top;
        }

        &__info {
            background: #fff;
            padding: 0.5em;
        }

        &__title {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: .2em;
            margin-top: 0;
        }

        &__text {
            font-size: .6em;
            color: #999;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                z-index:-1;
                top: 0;  left: 0;  right: 0;  bottom: 0;
                background: #2098d1;
                transform: scaleX(1);
                transform-origin: 0 50%;
                transition: transform .3s ease-out;
            }
        }
    }
}

